body {
    font-family: 'Consolas', monospace; /* Use sans-serif to match the fallback font */
    background-color: #333333;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.readme {
    width: 100%; /* Fluid width */
    max-width: 800px;
    margin: auto;
    background-color: #333333;
    padding: 20px;
    box-shadow: none;
    border-radius: 4px;
    overflow-x: auto; /* For horizontal scrolling if content is too wide */
}

.readme p {
    margin-top: 1em; /* Adds space above each paragraph */
    margin-bottom: 1em; /* Adds space below each paragraph */
}

.readme h3 {
    margin-top: 2em;
    margin-bottom: 2em; /* Adds space after the heading */
    /* Other styles... */
}

img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    h2 {
        font-size: 2em; /* Slightly smaller font-size on smaller screens */
    }

    /* You can also adjust padding, margins, or any other properties for smaller screens here */
    .readme {
        padding: 10px;
    }
}

/* Media query for very small screens like mobile phones */
@media (max-width: 480px) {
    h2 {
        font-size: 1.5em; /* Even smaller font-size for mobile */
    }

    /* Further adjustments for mobile screens */
    body {
        padding: 10px;
    }
}

/* If you have links within your content, you may want to style them to make them visible */
a {
    color: #ffffff; /* Example: bright blue color for links */
    text-decoration: none; /* Optional: removes underline from links */
}

a:hover {
    color: #a64ca6;
    text-decoration: underline; /* Re-adds underline on hover for better user experience */
}

/*@font-face {
    font-family: 'Consolas', monospace;
    src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'), url('/assets/fonts/IBMPlexMono-light-latin.woff2') format('woff2');
    font-weight: 300; 
    font-style: normal;
}*/

h2 {
    font-family: "IBM Plex Mono"; src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("/assets/fonts/IBMPlexMono-light-latin.woff2") format("woff2"); font-style: normal; 
    color: #ffffff; /* Keeps headings white */
    text-transform: lowercase; /* Converts text to lowercase */
    font-size: 3em; /* Example: makes the title twice the size of the default text */
}


/* Update blockquote color if needed */
blockquote {
    background-color: #333333; /* Slightly lighter grey for contrast */
    color: #fff; /* Ensure text inside blockquote is also white */
}

/* Ensure code blocks are readable */
code, pre {
    background-color: #333333; /* Darker background for code blocks */
    color: #ffffff; /* White font for code */
}

/* Adjust the border color for horizontal rules */
hr {
    border-top: 1px solid #555; /* Darker border color for <hr> */
}

#auditButton {
    background-color: #333333; /* Dark grey background */
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    margin-top: 20px; /* Space above the button */
    cursor: pointer; /* Cursor indicates it's clickable */
    border-radius: 4px; /* Rounded corners */
}

#auditButton:hover {
    background-color: #555; /* Slightly lighter grey on hover */
}

/* Style for <pre> elements that contain console text */
/* Style for <pre> elements that contain console text */
pre {
    background-color: #333333; /* Same as the general background color */
    color: #fff; /* White text color for readability */
    padding: 1em; /* Add some padding inside the <pre> tags */
    border-radius: 4px; /* Optional: rounds the corners of the <pre> tags */
    white-space: pre; /* Maintains formatting and whitespace */
    overflow-x: auto; /* Scrollbar if content overflows */
    margin: 20px 0; /* Add some margin above and below the <pre> tags */
    font-family: "Consolas", monospace; /* Styling the font for console elements */
    word-wrap: normal; /* Overrides the pre-wrap that might be elsewhere */
}

/* Button Back */
.buttonback {
    padding-left: 40px;
    display: inline-flex;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.iconback {
    margin-right: 20px;
}